body {
    font-family: 'Dancing Script', cursive;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 24px;
}

body span:nth-of-type(2) {
    font-family: 'Oswald', sans-serif;
    margin: 50px 0;
}

body span:nth-of-type(2) span {
    padding-left: 30px;
    font-size: 14px;
    color: grey;
}

span ul {
    list-style-type:square;
}

.tooltip-text {
    position: relative;
}

/*RESENIE BR.1*/

.tooltip-text {
    position: relative;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}


.tooltip-text::before {
    display: none;
    content: "This is a tooltip";
    position: absolute;
    bottom: 28px;
    background-color: #00BCD4;
    padding: 5px;
    color: #fff;
    width: auto;
    min-width: 140px;
    justify-content: center;
}

.tooltip-text:hover::before {
    display: flex;
}

.tooltip-text::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 23px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00BCD4;
}

.tooltip-text:hover::after {
    display: flex;
}


/*RESENIE BR.2
.tooltip {
    display: none;
    background-color: #00BCD4;
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 5px;
    min-width: 140px;
    cursor: pointer;
    bottom: 20px;
    right: -40px;
}

.tooltip-text:hover .tooltip{
    display: flex;
} 

.tooltip::after{
    content: " ";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00BCD4;
    bottom: -5px;
    left: 65px;
}
*/