.wrap{
    background-color: beige;
}

.wrap>div{
 
    background-color: brown;
    display: flex;
    justify-content: center;
}
p:first-of-type {
   order: 1;
   width: 30%;
}

p:nth-of-type(3) {
    order: 5;
}