p {
    color: blue;
    font-weight: bold;
}
.theredone {
    color:pink;
}
h1 {
    color:green;
}
#glaven {
    color: red;
}
#glaven:hover {
    color: orange;
}
.kanta .paragraph{
    color:brown;
}
.kanta>#prvoroden{
    color:yellow;
}

.main-container {
    width: 100%;
}
.header {
    width: 100%;
    height: 25px;
    background-color: blue;
}
.content-container {
    width: 75%;
    margin: 5px auto;
}
.row {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.square {
    height: 55px;
    background-color: red;
    width: 100%;
    margin: 5px;
}
.footer {
    width: 100%;
    height: 25px;
    background-color: darkblue;
}